<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Student name: <%= student.fullName %><br>
        Slug: <%= student.slug %><br>
        Image: <img src="<%= student.imagePath %>" alt="<%= student.fullName %>" width="100"><br>
        Bio: <%= student.bio %><br>
        Social link: <a href="<%= student.socialLink %>" target="_blank"><%= student.socialLink %></a><br>
        Favourite db: <%= student.favouriteDb %>
    </h1>
</body>
</html>